// Header
#container{
    border-top: 10px solid $primary-color;
}

.patternBg{
    background: transparent url(../img/pattern.png);
    min-height: 900px;
    position: relative;
}

.site-header .columns{
    height: 175px;
    align-items: center;
}

.site-footer{
    background: $gray-color-light;
    margin-top: 50px;

    .columns{
        height: 100px;
        align-items: center;
    }
    
    p{
        margin: 0;
    }
}

.school-logos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cornellRed{
    color: $cornellRed;
}

.ctBlue{
    color: $ctBlue;
}

.ul-styled{
    font-size: 18px;

    li{
        position: relative;
        list-style: none;
        padding-left: 5px;
    
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background: url(../img/bullet.svg);
            position: absolute;
            top: 8px;
            left: -15px;
        }
    }
}

nav{
    overflow: auto;
    margin-bottom: 30px;

    .nav-container{
        display: flex;
        justify-content: center;
    
        ul{
            float: left;
            margin: 0;
            padding: 0;
    
            li{
                display: inline-block;
                float: left;
                margin: 0 15px;
    
                a{
                    display: inline-block;
                    outline: none;
                    color: #404040;
                    font-size: 17px;
                    text-decoration: none;
                    letter-spacing: .04em;
                    padding: 5px 20px;
                    transition: all 150ms ease-in-out;
                }

                &.current-menu-item > a, a:hover{
                    color: white;
                    text-decoration: none;
                    background: $primary-color;
                    border-radius: 50px;
                }
            }
        }
    }
}

.intro{
    position: relative;
    z-index: 1;
    top: -100px;

    .columns{
        align-items: center;
    }

    .intro-text{
        display: flex;

        h3{
            font-weight: 300;
            color: #303030;
            line-height: 1.6;
        }
    }

    .intro-signup{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 20px;
            font-weight: 300;

            strong{
                font-weight: 600;
            }
        }

        .btn{
            background: #CC1F1F;
            border-radius: 15px;
            border: none;
            padding: 30px 65px 50px;
            font-size: 30px;
            font-weight: 500;
            margin: 10px 0 20px;
            transform: scale(0.9);
            transition: all 250ms ease-in-out;

            &:hover{
                transform: scale(1);
            }
        }
    }
}

.slider{
    width: 100%;
    height: 400px;
    background: $dark-color;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    h2{
        color: #303030;
        font-weight: 600;
    }
}

.upcomingEvents ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
        background: rgba(107,175,145,0.09);
        box-shadow: 0 1px 4px 0 rgba(57,181,74,0.08), 0 5px 7px 0 rgba(0,0,0,0.08);
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 20px;

        .date{
            text-align: center;
            flex: 1;

            p{
                font-size: 16px; 
                font-weight: bold; 
                line-height: 1.2; 
                margin: 0;
                color: darken($primary-color,15%);
            }
            span{font-size: 10px; font-weight: 100;}
        }

        .eventTitle{
            flex: 6;
            padding: 10px 20px 10px 10px;
            border-left: 1px solid #dddddd;

            p{
                margin: 0;
                padding: 0;
            }
        }
    }
}

.facultyTabs{
    margin: 30px 0;
}


@media screen and (max-width: 840px){
    .intro{
        top: -230px;

        .intro-text{
            padding: 0 15px 50px;

            h3{
                font-size: 22px;
                line-height: 1.6;
            }
        }

        .intro-signup{
            transform: scale(0.9);
            text-align: center;
        }
    }
 }

@media screen and (max-width: 600px){ 
    .school-logos{
        justify-content: space-around;
    }

    .site-footer{
        text-align: center;
        padding: 15px 0;
    }

    .ul-styled{
        font-size: 16px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 1);
        transform: translateX(100%);
        opacity: 0;
        transition: all .2s ease;
        
        
        ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            li{
                display: block;
                float: none;
                width: 100%;
                text-align: center;
                margin: 0;
                margin-bottom: 10px;

                a{
                    padding: 10px 20px;
                    opacity: 0;
                    color: white;
                    font-size: 32px;
                    font-weight: 800;
                    transition: all 150ms ease;
                }
            }
        }
    }
            
    .nav-open{
        position: fixed;
        right: 7px;
        top: 25px;
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 9999;

        i{
            display: block;
            width: 20px;
            height: 2px;
            background: #000000;
            border-radius: 2px;
            margin-left: 20px;
        }
        i:nth-child(1){
            margin-top: 20px;
            transition: transform .3s ease;
        }
        i:nth-child(2){
            margin-top: 4px;
            transition: transform .3s ease;
        }
        i:nth-child(3){
            margin-top: 4px;
            transition: transform .3s ease;
        }
    }

    #nav:checked + .nav-open i{
        background: white;
        
        &:nth-child(1){
            transform: rotate(45deg) translate(5px, 4px);
        }
        &:nth-child(2){
            transform: translateX(100px);
        }
        &:nth-child(3){
            transform: rotate(-45deg) translate(4px, -4px);
        }
    }

    #nav:checked ~ .nav-container{
        z-index: 9990;
        opacity: 1;
        transform: translateX(0);
        
        ul li{
            margin-bottom: 20px;
            
            a{
                opacity: 1;
                color: #ffffff;
                font-weight: 400;
                font-size: 25px;
            }
        }

        .hidden{
            display: none;
        }
    }

    .intro{
        .intro-text{
            padding: 0 15px 50px;

            h3{
                font-size: 21px;
                line-height: 1.6;
            }
        }
    }

    .description{
        padding: 0 15px;
        margin-top: -180px;

        h2{
            font-size: 28px;
        }

        .expectations{
            margin-bottom: 50px;
        }
    }
}