
// Header
#container{
    border-top: 10px solid $primary-color;
    position: relative;
    z-index: 1;
}

.patternBg{
    background: transparent url(../images/pattern.png);
    // clip-path: polygon(0 0,100% 0,100% 100%,0 80%);
    overflow: auto;
}

.site-header .columns{
    height: 200px;
    align-items: center;
}

.site-footer{
    background: lighten($dark-color, 80%);
    margin-top: 50px;

    .columns{
        padding: 40px 0;
        align-items: center;
    }
    
    p{
        margin: 0;
    }
}

.logo{
    margin: 0;
    padding: 0;
}

.school-logos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    img{
        margin: 10px 15px;
    }
}

.cornellRed{
    color: $cornellRed;
}

.ctBlue{
    color: $ctBlue;
}

.ul-styled{
    font-size: 18px;

    li{
        position: relative;
        list-style: none;
        padding-left: 5px;
    
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background: url(../images/bullet.svg);
            position: absolute;
            top: 8px;
            left: -15px;
        }
    }
}

nav{
    overflow: auto;

    .nav-container{
        display: flex;
        justify-content: flex-end;
    
        ul{
            margin: 10px 0;
            padding: 0;
    
            li{
                float: left;
                display: inline-block;
                margin: 15px;
    
                a{
                    display: inline-block;
                    position: relative;
                    outline: none;
                    color: #404040;
                    font-size: 18px;
                    text-decoration: none;
                    letter-spacing: .04em;
                    padding: 0 0 5px;
                    transition: all 150ms ease-in-out;

                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $primary-color;
                        content: '';
                        opacity: 0;
                        -webkit-transition: height 0.25s, opacity 0.25s, -webkit-transform 0.25s;
                        -moz-transition: height 0.25s, opacity 0.25s, -moz-transform 0.25s;
                        transition: height 0.25s, opacity 0.25s, transform 0.25s;
                        -webkit-transform: translateY(-10px);
                        -moz-transform: translateY(-10px);
                        transform: translateY(-10px);
                    }
                    &:hover::after, &:focus::after{
                        height: 5px;
                        opacity: 1;
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        transform: translateY(0px);
                    }
                }

                &.current-menu-item > a::after{
                    height: 5px;
                    opacity: 1;
                    -webkit-transform: translateY(0px);
                    -moz-transform: translateY(0px);
                    transform: translateY(0px);
                }
            }
        }
    }
}

.intro{
    position: relative;
    z-index: 1;
    margin: 100px auto;

    .columns{
        align-items: center;
    }

    .intro-text{
        display: flex;

        h3{
            font-weight: 300;
            color: #303030;
            line-height: 1.6;
        }
    }

    .intro-signup{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 20px;
            font-weight: 300;

            strong{
                font-weight: 600;
            }
        }

        .btn{
            background: $secondary-color;
            border-radius: 15px;
            border: none;
            padding: 30px 65px 50px;
            font-size: 30px;
            font-weight: 500;
            margin: 10px 0 20px;
            transform: scale(0.9);
            transition: all 250ms ease-in-out;

            &:hover{
                transform: scale(1);
            }
        }
    }
}

.slider{
    width: 100%;
    max-height: 400px;
    background: $primary-color;

    img{
        margin: 0 auto;
    }
}

.description{
    h2{
        color: #303030;
        font-weight: 600;
    }
}

.upcomingEvents ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
        background: $light-color;
        box-shadow: 0 1px 1px 0 rgba(57,181,74,0.08), 0 2px 5px 0 rgba(0,0,0,0.08);
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 20px;
        transition: box-shadow 200ms ease-in-out;

        &:hover{
            box-shadow: 0 2px 4px 0 rgba(57,181,74,0.08), 0 7px 15px 0 rgba(0,0,0,0.08);
        }

        .date{
            text-align: center;
            flex: 1;

            p{
                font-weight: bold; 
                line-height: 1.4;
                margin: 0;
                color: $dark-color;
            }
            span{font-size: 12px; font-weight: 100;}
        }

        .eventTitle{
            flex: 6;
            padding: 10px 20px 10px 10px;
            border-left: 1px solid #dddddd;

            p{
                margin: 0;
                padding: 0;
            }
        }
    }
}

.facultyTabs{
    margin: 30px 0;

    .ui-tabs-nav{
        margin-bottom: 25px;
    }
    .ui-tabs-active a{
        border-bottom-color: $primary-color;
        color: $primary-color;
        font-weight: bold;
    }
    .ui-tabs-anchor{
        float: none!important;
        font-size: 20px;
    }
    .ui-tabs-panel{
        padding: 1em 0!important;
    }
}

.faculty{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid $primary-color;
    padding: 18px;
	margin: 0 0 35px;
	min-height: 421px;

    .faculty-head{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .faculty-img{
            flex: 1;
        }
        .faculty-title{
            flex: 3;

            h6{color: $primary-color;}
        }
    }
    .faculty-desc{
        .show_hide{
            font-weight: bold;
        }
        .bio{margin-top: 20px;}
    }
}

.server{
    float: right;
}

.apply{
    max-width: 350px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(57,181,74,0.08), 0 2px 5px 0 rgba(0,0,0,0.08);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: box-shadow 200ms ease-in-out;

    &:hover{
        box-shadow: 0 2px 4px 0 rgba(57,181,74,0.08), 0 7px 15px 0 rgba(0,0,0,0.08);
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

blockquote{
    padding: 1rem;
    background: #5FC3AA;
    color: #ffffff;
    box-shadow: 10px 10px 0 0 darken($primary-color, 20%);
    font-size: 20px;
    border-left: none;
}

@media screen and (max-width: 840px){
    .intro{
        .intro-text{
            padding: 0 15px 50px;

            h3{
                font-size: 22px;
                line-height: 1.6;
            }
        }

        .intro-signup{
            transform: scale(0.9);
            text-align: center;
        }
    }
    .upcomingEvents ul{    
        li{
            .date{
                flex: 2;
            }
            .eventTitle{
                flex: 7;
            }
        }
    }
 }

@media screen and (max-width: 600px){ 

    .site-header .columns{
        align-items: center;
        padding: 40px 0;
    }
    .site-footer{
        text-align: center;
        padding: 15px 0;

        .school-logos{
            justify-content: center;
            flex-wrap: wrap;
    
            img{
                margin: 20px 0;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .ul-styled{
        font-size: 16px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, 1);
        transform: translateX(100%);
        opacity: 0;
        transition: all .2s ease;
        
        
        ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            li{
                display: block;
                float: none;
                width: 100%;
                text-align: center;
                margin: 15px 0;

                a{
                    padding: 10px 20px;
                    opacity: 0;
                    color: white;
                    font-size: 32px;
                    font-weight: 800;
                    transition: all 150ms ease;
                }
            }
        }
    }
            
    .nav-open{
        position: fixed;
        right: 20px;
        top: 75px;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
        background: $primary-color;

        i{
            display: block;
            width: 20px;
            height: 2px;
            background: #ffffff;
            border-radius: 2px;
            margin-left: 15px;
        }
        i:nth-child(1){
            margin-top: 18px;
            transition: transform .3s ease;
        }
        i:nth-child(2){
            margin-top: 4px;
            transition: transform .3s ease;
        }
        i:nth-child(3){
            margin-top: 4px;
            transition: transform .3s ease;
        }
    }

    #nav:checked + .nav-open i{
        background: white;
        
        &:nth-child(1){
            transform: rotate(45deg) translate(5px, 4px);
        }
        &:nth-child(2){
            transform: translateX(100px);
        }
        &:nth-child(3){
            transform: rotate(-45deg) translate(4px, -4px);
        }
    }

    #nav:checked ~ .nav-container{
        z-index: 9990;
        opacity: 1;
        transform: translateX(0);
        
        ul li{
            margin: 15px 0;
            
            a{
                opacity: 1;
                color: #ffffff;
                font-weight: 400;
                font-size: 25px;
            }
        }

        .hidden{
            display: none;
        }
    }

    .intro{
        .intro-text{
            padding: 0 15px 50px;

            h3{
                font-size: 21px;
                line-height: 1.6;
            }
        }
    }

    .description{
        padding: 0 15px;

        h2{
            font-size: 28px;
        }

        .expectations{
            margin-bottom: 50px;
        }
    }

    .server{
        float: none;
    }
}